<div class="w-embed">
  <video muted autoplay="" loop="" style="width:100%; height: 90%; position:absolute; z-index: -1;">
    <source src="<%= @video_ref %>" type="video/mp4">
  </video>
</div>

<div class="row">
  <div class="large-12 medium-12 columns hello">
    <div class="hello-content">
      <h1 class="hi"> NICK NOVAK <br/>
        <div class="stack">FULL STACK DEVELOPER</div>
      </h1>
    </div>
  </div>
</div>

<nav class="navigation-wrapper">
  <div class="buttons-wrapper">
    <ul>
      <a id="about-nav" href="#/about">
        <li>ABOUT</li>
      </a>
      <a id="work-nav" href="#/work">
        <li>WORK</li>
      </a>
      <a class='direct-link' href="https://github.com/nnovak13/portfolio_site/blob/master/portfolio_site/app/assets/images/Resume_nnovak_01.pdf?raw=true" target='_blank'>
        <li>RÉSUMÉ</li>
      </a>
    </ul>
  </div>
</nav>


<div class="row">
  <div class="large-12 medium-12 columns hello">
    <div class="hello-content">
    </div>
    <%= image_tag(("comp-git.JPG"),class:"profpic") %>
  </div>
</div>

